Repository samwrigley/laravel-support: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/phpcs, jsonlint

Install linting NPM packages
  package-lock.json
  package.json
Due: jsonlint

Created license
  LICENSE.md
Due: none

Created changelog
  CHANGELOG.md
Due: none

Created readme
  README.md
Due: none

Ensured the route namespace used in the `HasPaths` trait ends with a single period
  src/Traits/HasPaths.php
Due: ./vendor/bin/phpcs

Changed the `assignCategories` method to `addCategories` on the `HasCategories` trait in order to make it more readable
  src/Traits/HasCategories.php
Due: ./vendor/bin/phpcs

Updated the `publish` method on the `CanBePublished` trait to accept no parameters if the item should be publish `now`
  src/Traits/CanBePublished.php
Due: ./vendor/bin/phpcs

Added numbers before each usage step to make it clear how many steps are involved
  README.md
Due: none

Corrected grammatical error in documentation
  README.md
Due: none

Improved grammar
  README.md
Due: none

Added introduction to each trait in the 'Usage' section to quickly explain what it does and how it might be useful
  README.md
Due: none

Updated package's description
  README.md
  composer.json
Due: jsonlint

Apply fixes from StyleCI
  src/Traits/CanBePublished.php
  src/Traits/HasPaths.php
Due: ./vendor/bin/phpcs

Add support for Laravel 5.7, 5.8 and 6
  composer.json
Due: jsonlint

Updated with `v0.1.1` changes
  CHANGELOG.md
Due: none

Refactored string and array global helpers to corresponding classes
  src/Traits/HasPaths.php
Due: ./vendor/bin/phpcs

Set required version of PHP to `7.2` or greater
  composer.json
Due: jsonlint

Updated `phpunit/phpunit` from version `7.0` to `8.0`
  composer.json
Due: jsonlint

Added `illuminate/database` as a dependency
  composer.json
Due: jsonlint

Removed `laravel/framework` as a dependency as was unnecessary
  composer.json
Due: jsonlint

Added additional versions of `orchestra/testbench`
  composer.json
Due: jsonlint

Updated CHANGELOG.md with `v0.1.2` changes
  CHANGELOG.md
Due: none

Removed unnecessary docblocks
  src/Traits/HasAuthor.php
  src/Traits/HasCategories.php
  src/Traits/HasCategory.php
Due: ./vendor/bin/phpcs

Corrected order of `use` statements
  src/Traits/CanBePublished.php
Due: ./vendor/bin/phpcs

Improved method type hinting
  src/Traits/CanBePublished.php
  src/Traits/HasAuthor.php
  src/Traits/HasCategories.php
  src/Traits/HasCategory.php
  src/Traits/HasPaths.php
Due: ./vendor/bin/phpcs

Updated method doblocks
  src/Traits/HasCategories.php
  src/Traits/HasPaths.php
Due: ./vendor/bin/phpcs

Updated CHANGELOG.md with `v0.1.3` changes
  CHANGELOG.md
Due: none

Corrected `HadPaths` trait method type hints
  src/Traits/HasPaths.php
Due: ./vendor/bin/phpcs

Apply fixes from StyleCI
  src/Traits/CanBePublished.php
Due: ./vendor/bin/phpcs

Path conditions:
  ./vendor/bin/phpcs: any of: *.php
  jsonlint: (any of: *.json) or (any of: .*rc)
